{% extends 'base.html' %}

{% block title %}AI Therapist{% endblock %}

{% block content %}
<div class="rectangle" id="rectangle">Notes</div>
<div class="box" id="box"></div>
<div id="chat-container">
    <div id="messages-area">
        {% if initial_message %}
            <div class="message-wrapper">
                <div class="chat-bubble bot-bubble">
                    {{ initial_message }}
                </div>
            </div>
        {% else %}
            <div class="message-wrapper">
                {% for convo in conversation %}
                    {% if convo.role == "user" %}
                        <div class="chat-bubble user-bubble">
                            {{ convo.content }}
                        </div>
                    {% else %}
                        <div class="chat-bubble bot-bubble">
                            {{ convo.content }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
<div id="input-container">
    <input type="text" id="message-input" placeholder="Type your message">
    <button id="send-btn">Send</button>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}